.nav{
   
    /* width: 100vw; */
    height: 20px;
    background-color: red;
}
*{
    margin: 0;
    box-sizing: border-box;
}

.link{
    text-align: center;
    
}
a{
    text-decoration: none;
    padding: 10px;
}
a:hover{
    background-color: white;
    color: black;
}

.active{
    background-color: white;
}