/* .container-fluid{
    background-color: rgba(7, 41, 71, 0.479);
    height: 100vh;
    width: 200px;
} */




/* .account{
    width:350px;
    height:400px;
    background-color: rgba(2, 2, 2, 0.589);
    border-radius: 8px;
    
} */
